.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown_ {
    float: left;
    overflow: hidden;
}

.dropdown_ .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown_:hover .dropbtn {
    background-color: #444;
}

.dropdown-content_ {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    opacity: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    left: auto;
    top: 52px;
}

.dropdown-content_ a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content_ a:hover {
background-color: #ddd;
}

.dropdown_:hover .dropdown-content_ {
display: block;
}

.button-7_2 {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 15px;
    /*color: #383d48;*/
    color: white;
}

.button-7_2 span {
    display: block;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    font-size: 16px;
    font-weight: normal;
    /*text-transform: uppercase;*/
    /*white-space: nowrap;*/
    letter-spacing: 1px;
    /*line-height: 1;*/
    transition: .4s ease;
}

.button-7_2:after {
    content: url(../img/exit.png);
    transform: scale(.175);
    margin-top: -35px;
    width: 15px;
    height: 15px;
    /*font-family: Linearicons-Free, serif;*/
    /*speak: none;*/
    /*font-style: normal;*/
    /*font-weight: 400;*/
    /*font-variant: normal;*/
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: none;
    line-height: 1;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    /*font-size: 22px;*/
}

.button-7_2:hover span {
    max-width: 150px;
    opacity: 1;
    margin-right: 6px;
}

.username{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}